* {
    box-sizing: border-box;
}

body {
    background-color: #555555;
}

nav {
    display: flex;
    flex-flow: column wrap;
    font-size: larger;
}

nav * {
    padding: 5px 2px;
    margin: 5px 3px;
    width: max-content;
}

a:visited {
    color: aquamarine;
}

a {
    text-decoration: none;
    color: aquamarine;
}

.new {
    background-color: rgba(78, 31, 57, 0.384);
}